.container {
    display: grid;
    grid-template-columns: repeat(5, 200px); /* 3 columns, middle is twice as wide */
    gap: 20px; /* space between grid items */
}

.container-result {
    display: grid;
    grid-template-columns: repeat(5, 200px); /* 3 columns, middle is twice as wide */
    gap: 30px; /* space between grid items */
}

    .container-result div {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.btn-enviar {
    width: 100px;
    height: 40px;
    background-color: #4CAF50; /* Green */
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

